<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/static/lib/html5shiv.js"></script>
    <script type="text/javascript" src="/static/lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/static/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/H-ui.admin.css"/>
    <link rel="stylesheet" type="text/css" href="/static/lib/Hui-iconfont/1.0.8/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/skin/default/skin.css" id="skin"/>
    <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/style.css"/>
    <!--[if IE 6]>
    <script type="text/javascript" src="/static/lib/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>区域配置</title>
</head>
<body>
<article class="page-container">
    <form class="form form-horizontal" id="form-admin-region-add">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>配置区域：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <!--省份选择-->
                <select id="provinceRegion" onchange="showCity($('#cityRegion'))" class="select"
                        style="width: 17%;height:32px ;display: inline-block">
                    <option selected disabled hidden>请选择省份</option>
                </select>
                <!--城市选择-->
                <select id="cityRegion" onchange="showCountry($('#countryRegion'))" class="select"
                        style="width: 17%;height:32px ;display: inline-block">
                    <option selected disabled hidden>请选择城市</option>
                </select>
                <!--县区选择-->
                <select id="countryRegion" class="select"
                        style="width: 17%;height:32px ;display: inline-block">
                    <option selected disabled hidden>请选择县区</option>
                </select>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>配置快递员：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <select id="transRegion" class="select"
                        style="width: 53%;height:32px ;display: inline-block">
                    <option selected disabled hidden>请配置快递员</option>
                </select>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>配置快递车辆：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <select id="carRegion" class="select"
                        style="width: 53%;height:32px ;display: inline-block">
                    <option selected disabled hidden>请配置快递车辆</option>
                </select>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
                <input class="btn btn-primary radius" type="reset" value="&nbsp;&nbsp;重置&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="/static/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/static/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/static/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/static/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="/static/fillFrom.js"></script>
<script type="text/javascript">
    $(function () {
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });
        showProvince($('#provinceRegion'));
        showRegionCar();
        showRegionTrans();

        $("#form-admin-region-add").validate({
            rules: {
                countryRegion: {
                    required: true
                }
            },
            onkeyup: false,
            focusCleanup: true,
            success: "valid",
            submitHandler: function (form) {
                if( $('#transRegion').val() === null && $("#carRegion").val() === null ){
                    layer.msg('快递员和车辆必须配置一项', {icon: 2, time: 1000});
                    return;
                }
                var formData = {
                    "regionId": $("#countryRegion").val(),
                    "regionTransId": $("#transRegion").val(),
                    "regionCarId": $("#carRegion").val()
                };
                console.log("formData:");
                console.log(formData);
                $.ajax({
                    type: 'POST',
                    url: "../../../api/admin/addRegionInfo.json",
                    data: JSON.stringify(formData),
                    cache: false,
                    async: false,
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    success: function (data) {

                        if (data.data === 0) {
                            layer.msg('调配失败，系统错误', {icon: 2, time: 1000});
                        }
                        if (data.data === 1) {
                            layer.msg('调配成功!', {icon: 1, time: 1000});

                            parent.$("#refresh i").click();
                            var index = parent.layer.getFrameIndex(window.name);
                            setTimeout(function () {
                                parent.layer.close(index);
                            }, 500);
                        }
                        if (data.data === 2) {
                            layer.msg('调配失败， 请重新输入!', {icon: 2, time: 1000});

                        }


                    },
                    error: function (errorThrown) {
                        layer.msg('error!', {icon: 1, time: 1000});
                    }
                });

            }
        });
    });

    function showRegionTrans() {
       var transRegion = $("#transRegion");
        $.ajax({
            type: 'POST',
            url: "../../../public/provideTransRegionData.json",
            cache: false,
            async: false,
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                //transRegion.empty();
                var len = data.length;
                for (var i = 0; i < len; i++) {
                    var option = document.createElement('option');
                    option.innerText = data[i]['userName'];
                    option.value = data[i]['userId'];
                    transRegion.append(option);
                }
            },
            error: function (errorThrown) {
                layer.msg('error!', {icon: 1, time: 1000});
            }
        });
    }
    function showRegionCar() {
       var carRegion = $("#carRegion");
        $.ajax({
            type: 'POST',
            url: "../../../public/provideCarRegionData.json",
            cache: false,
            async: false,
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                //carRegion.empty();
                var len = data.length;
                for (var i = 0; i < len; i++) {
                    var option = document.createElement('option');
                    option.innerText = data[i]['carNo'];
                    option.value = data[i]['carId'];
                    carRegion.append(option);
                }
            },
            error: function (errorThrown) {
                layer.msg('error!', {icon: 1, time: 1000});
            }
        });
    }
</script>
</body>
</html>
