<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxx.sivir.core.dal.dao.CarDao">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.sxx.sivir.core.dal.domain.Car">
                    <id column="car_id" property="carId"/>
                    <result column="car_no" property="carNo"/>
                    <result column="car_region_name" property="carRegionName"/>
                    <result column="car_region_id" property="carRegionId"/>
                    <result column="car_type" property="carType"/>
                    <result column="is_delete" property="isDelete"/>
                    <result column="gmt_create" property="gmtCreate"/>
                    <result column="gmt_modified" property="gmtModified"/>
        </resultMap>
        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            car_id,car_no,car_region_name,car_region_id,car_type,is_delete,gmt_create,gmt_modified
        </sql>
</mapper>
